.container{
    width: 400px;
    max-width: 90%;
    background-color: transparent;
    height: max-content;
    padding: 60px;
    border-radius: 5px;
    
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    .inputContainer{
        width: 100%;
    }

    .buttonContainer{
        width: 100%;
    }

    .error{
        color: rgb(153, 16, 46);
    }
}

@media screen and (max-width: 400px) {
    .container{
        padding: 30px;
    }
}
